@keyframes slideout {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes slidein {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@mixin hoverActions() {
  &__list__row {
    $listRowSelector: &;
    overflow: hidden;
    &__data-cell {}
    &__actions-cell {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      //transition: opacity 0.2s ease-out;
      //opacity: 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      background-color: #ffffff;
      -webkit-box-shadow: -10px -1px 15px -1px #fff ;
      animation-duration: 0.70s;
      animation-name: slideout;
      opacity: 0;
      transform: translateX(100%);
    }
    &:hover {
      #{$listRowSelector}__actions-cell {
        animation-duration: 0.35s;
        animation-name: slidein;
        opacity: 1;
        transform: translateX(0);
      }
      background-color: rgba(0, 0, 100, 0.06);
    }
    display: block;
    position: relative;
  }
}
